<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bantr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap-grid.min.css" integrity="sha512-8zKdCtHHn4yrmrAKteDmaIVUMppsWMTlaZCffpRG6k6sVHwWQ2kiJOFQ22e7dSPc7yYD/GC5onkJCfxemQsyeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/stylesheets/style.css">

</head>
<body>
 {{! sign up form landing page }} 
     <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3" style="background-color: #6279b8;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span style="font-size: 32px;">BANTR</span></a>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-6">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
            <div class="d-none d-md-block"></div>
        </div>
    </nav>
    {{!-- background layers --}}
    <div class="container full-height">
        <div class="row flex center v-center full-height" style="height: 500px;"><div class="svg-container">
<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>
</div>
</div>
{{!-- sign up form --}}
            <div class="col-8 col-sm-4">
                <div class="form-box bg-white">
                    <form style="height: 307.062px;">
                        <fieldset>
                            <legend>Create Account</legend>
                            <p style="font-size: 12px;">Enter your email and create a password to get started!</p><input class="form-control" type="email" id="email" name="email" placeholder="Email"><input class="form-control" type="password" id="password" name="password" placeholder="Password">
                            <p style="font-size: 12px;">Already a member? <a href=""></a>Log In</p><button class="btn btn-primary d-block w-100" type="button">Create Account</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js" integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
