<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap-grid.min.css"
      integrity="sha512-8zKdCtHHn4yrmrAKteDmaIVUMppsWMTlaZCffpRG6k6sVHwWQ2kiJOFQ22e7dSPc7yYD/GC5onkJCfxemQsyeQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Bantr</title>
  </head>
  <body>
   <nav class = "navbar navbar-light" style="background-color:#8EA4D2">
         <div class="container-fluid">
               <a class="navbar-brand">BANTR</a>
               <form class="d-flex input-group w-auto">
                     <input type="search"
                     class="form-control rounded"
                     placeholder="Search"
                     aria-label="Search"
                     aria-describedby="search-addon"/>
                     <span class="input-group-text text-white border-0" id="search-addon">
                           <i class="fas fa-search"></i>
                     </span>
                     
               </form>
         </div>
   </nav>

    </div>

    <footer></footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js"
      integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>