<!-- CTA Section -->
<div class="card cta border border-dark" style="background-color: #4c9f70">
  <div class="card-body container space-2">
    <div class="row align-items-md-center text-center text-md-left">
      <div class="col-md-2 d-none d-md-inline-block">
        <img class="img-fluid" src="logo.png" alt="Brand">
      </div>
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="pl-lg-4">
          <h2 class="text-white mb-1 text-responsive">Study together with BANTR</h2>
          <p class="lead text-black mb-0 text-responsive">Chat with online learners. Ask a question. Share valuable resources. Build a community.</p>
        </div>
      </div>
      <div class="m-auto row btn-group text-center" role="group"> 
      {{!-- <div class="col-md-3 text-md-right mb-2"> --}}
        <a class="btn btn-light mr-1" href="/login">Login / Sign Up</a><br />
        <a class="btn btn-light btn-outline" href="/dashboard">Create a Post</a>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End CTA Section -->
{{!-- latest blog posts typing effect using bootstrap animation --}}
<div class="container mt-3"><div class="row"><div class="col align-self-center"><h2 class="text-center typewrite" style="color: black;" data-period="2000" data-type='[ "Latest Blog Posts..." ]'>
    <span class="wrap"></span>
</h2></div></div></div>
<span class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</span>
{{!-- bootstrap js script --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js" integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{!-- script for typing effect --}}
<script>
 //made by vipul mirajkar thevipulm.appspot.com
var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };</script>