{{!-- pulls post-info handlebars --}}
{{> post-info post}}
{{!-- shows option to comment if user is logged in --}}
{{#if loggedIn}}
<div class="card border border-dark bg-light">
  <div class="card-body">
<form class="comment-form">

    <div class="card border border-dark">
    <textarea placeholder="Enter your comment here" class="form-control border border-dark" style="min-width: 100%" name="comment-body"></textarea>
  </div>
</div>
  <div class="text-center justify-content-center">
    <button type="submit" class="btn styled-btn btn-secondary mt-auto mb-4 mr-3 float-right">Add a Comment <i class="fa-solid fa-plus"></i></button>
  </div>
  </div>
</form>
<br /><br /><br>
{{/if}}
{{!-- show all comments for post --}}
{{> comments post.comments}}
{{!-- load public comments js if user is logged in --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}