body,
html {
  width: 100vw;
  min-height: 100vh;
  background-color: #49516f;
}
.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}
.cta {
  padding: 1rem;
}
body {
  Font-Family: 'Lato', Sans-Serif;

  /* Font-Size: 16px; */
}
h1,
h2,
h3,
h4,
h5,
h6,
link,
a {
  font-family: 'Russo One', sans-serif;

}


/* make links not underlined */
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.1s;
}
/* no bullets on lists */
span li {
  list-style: none;
}
main {
  flex: 1;
  padding: 2% 4%;
}
/* add bg and color class for purple we want to use  */
.bg-purple {
  background-color: #8ea4d2;
}
.bg-dark-purple {
  background-color: #7283A8;
}
.color-purple {
  color: #8ea4d2;
}
/* for navbar  */
.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
}

/* .send-button {
  background-color: #496f5d;
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 7px;
  padding-left: 7px;
  margin-right: 5px;
}
.message-box {
  margin-top: 10px;
}
.others-message-box {
}
.my-message-box {
  text-align: right;
  background: white;
}
.message {
  max-width: 70%;
  border-radius: 5%;
  padding: 5px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}
.my-message {
  float: right;
  background: #8ea4d2;
} */

/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
h1 {font-size:1rem;} /*1rem = 16px*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;} /*1rem = 16px*/    
}
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) { 
  h1 {font-size:2.75rem;color:red;} 
}